h1 {
    text-align: center; 
    font-size: 80px; 
    color: #efe2e2; 
    
  }
  
  ul {
    list-style: none;
    height: 100vh;
    margin: 50px auto; 
    width: fit-content; 
    margin-top: 200px;
  }
  
  li {
    
    display: inline-block; 
    margin-right: 50px; 
  }
  
  a {
    text-decoration: none; 
    color: #ceec0c; 
    font-weight: bold; 
    font-size: 35px;
    
  }
  div {
   
    background-image: url('../images/foto6.jpg'); /* Ejemplo de URL */
    background-size: cover; /* Ajustar la imagen al contenedor */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    
  }
  
  